:root {
  --font-principal: "Sora", sans-serif;
  --font-secundaria: "ADLaM Display", system-ui;
  --cor-backgrount: #f0f0f0;
  --branco: #fff;
  --preto: #000;
  --cor-botao: #7c44ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--cor-backgrount);
}