:root {
  --font-principal: font-family: "Sora", sans-serif;
  --font-secundaria: font-family: "ADLaM Display", system-ui;
  --cor-backgrount: #f2f2f3;
  --branco: #fff;
  --preto: #000;
  --cor-botao: #7c44ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: (var(--cor-backgrount));
}